@import "../font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* NAVIGATION CODE */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vmax;
  background-color: #0e100f;
  border-bottom: 1px solid #46443e;
  padding: 1vmax 4vmax;
  z-index: 99;

  .logo {
    color: #fffce1;
    text-decoration: none;
    border-radius: 5vmax;
    transition: 0.25s linear;
    cursor: pointer;
  }

  .linkbox {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4vmax;

    .link {
      text-decoration: none;
      color: #7c7c6f !important;
      border-radius: 5vmax;
      transition: 0.25s linear;
      cursor: pointer;

      &:hover {
        font-weight: 100;
        color: #fffce1 !important;
      }
    }

    .github-btn {
      padding: 0.3vmax 0.6vmax;
      border: 2px solid #fffce1;
      border-radius: 5vmax;
      margin-left: 4vmax;
      cursor: pointer;

      i {
        color: #fffce1;
        pointer-events: none;
      }

      a {
        text-decoration: none;
        pointer-events: none;
      }
    }
  }

  .menu-btn {
    display: none;
  }

  .border {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
  }
}

/* NAVIGATION RESPONSIVE CODE */

@media (max-width: 30cm) {
  .nav {
    padding: 2vmax 3.5vmax;
    border-bottom: 2px solid #46443e;

    .linkbox {
      .github-btn {
        margin-left: 0vmax;
        border: 2.5px solid #fffce1;
        padding: 0.6vmax 1.2vmax;
      }
    }
  }
}

@media (max-width: 15cm) {
  .nav {
    padding: 2vmax 2.5vmax;

    .linkbox {
      display: none;
    }

    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      word-spacing: 0.3vmax;
      padding: 0.6vmax 1.2vmax;
      border: 2px solid #fffce1;
      border-radius: 5vmax;
      margin-left: 4vmax;
    }
  }
}

/* MENU BOX CODE */

.menu-box {
  position: fixed;
  bottom: 0%;
  left: 0%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  width: 100%;
  background-color: #0e100f;
  z-index: 88;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1);

  a {
    text-decoration: none;
    opacity: 0;
    margin-right: 10vw;
    cursor: pointer;
    margin-bottom: 1vmax;
  }
}

/* MENU BOX RESPONSIVE CODE */

@media (max-width: 30cm) {
  .menu-box {
    position: fixed;

    a {
      font-size: 14vw;
    }
  }
}

@media (max-width: 15cm) {
  .menu-box {
    display: flex;
  }
}

/* WRAPPER 1*/
.wrapper1 {
  position: relative;

  .wrapper2 {
    position: relative;
    width: 100%;
    cursor: default;
    background-color: #0e100f;

    .btn {
      overflow: hidden;

      h5 {
        z-index: 999;
        pointer-events: none;
      }

      .overlay {
        position: absolute;
        top: 100%;
        left: 50%;
        height: 200%;
        width: 100%;
        transform: translate(-50%, 0%);
        background-color: #233dd4;
        // transition: 0.25s linear;
        border-radius: 50%;
        pointer-events: none;
      }
    }

    /* FIRST SECTION CODE */

    .sec1 {
      position: relative;
      min-height: 100vh;
      width: 100%;
      background-color: #0e100f;
      border-bottom-left-radius: 5vmax;
      border-bottom-right-radius: 5vmax;
      padding: 0 8vmax;

      .row {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8vmax 0;

        span {
          margin-left: 0.4vmax;
        }

        svg {
          margin-top: 5vmax;
          transform: rotate(90deg);
          stroke: #fff;
        }
      }

      .workbox-holder {
        height: fit-content;
        width: 100%;

        .workbox {
          position: relative;
          height: fit-content;
          width: 100%;
          display: flex;
          align-items: center;
          border-top: 1px solid #46443e;
          border-bottom: 1px solid #46443e;
          padding: 3vmax 0;
          cursor: pointer;

          h6 {
            color: #7c7c6f;
            text-transform: uppercase;
          }

          .box1 {
            height: fit-content;
            width: 60%;
          }

          .box2 {
            height: fit-content;
            width: 20%;
          }

          .box3 {
            height: fit-content;
            width: 20%;
            text-align: right;
          }

          .project-summary {
            position: absolute;
            height: fit-content;
            width: 80%;
            display: flex;
            // background: rgba(255, 255, 255, 0.115);
            background: rgba(35, 62, 212, 0.692);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 10px;
            z-index: 99;
            pointer-events: none;
            scale: 0;
            transition: 0.25s linear;

            .left,
            .right {
              height: fit-content;
              width: 50%;
              padding: 2vmax;

              h4 {
                margin-bottom: 0.5vmax;
              }

              h5 {
                margin-top: 0.8vmax;
                line-height: 1.5vmax;
              }
            }

            .line {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 88%;
              width: 1.5px;
              border-right: 2px solid #fff;
            }
          }
        }

        .wbinfo {
          border-top: none;
          border-bottom: 1px solid #46443e;
          padding-top: 0;
        }
      }
    }

    /* FOURTH RESPONSIVE SECTION CODE */

    @media (max-width: 30cm) {
      .sec1 {
        min-height: 100vh;
        padding: 0 3.5vmax;

        .row {
          flex-direction: column;
          align-items: flex-end;
          gap: 7vmax;
          border-top: 2px solid #46443e;
          border-bottom: 2px solid #46443e;

          .elems {
            height: fit-content;

            h6 {
              letter-spacing: 1vmax;
              margin-bottom: 3vmax;
            }

            h4 {
              line-height: 4vmax;
            }
          }
        }

        .project-holder {
          height: fit-content;

          .project {
            height: fit-content;
            flex-direction: column;
            align-items: flex-start;
            gap: 4vmax;

            &:nth-child(2) {
              flex-direction: column;
            }

            &:nth-child(4) {
              flex-direction: column;
            }

            .img-box {
              width: 100%;
            }

            .content-box {
              height: 8vmax;
              width: 100%;
              border-bottom: 2px solid #46443e;

              &::after {
                padding: 0.6vmax 1.2vmax;
              }
            }
          }
        }

        .work-btn {
          height: 8vmax;
          border: 2px solid #46443e;
        }
      }
    }

    @media (max-width: 15cm) {
      .sec1 {
        padding: 0 2.5vmax;
      }
    }

    /* FIFTH SECTION CODE */

    .sec5 {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #0e100f;

      .top {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5vmax;
        margin-bottom: 2vmax;
        padding: 0 8vmax;

        .text-box {
          position: relative;
          height: fit-content;
          width: 100%;
          padding-bottom: 5vmax;
          border-bottom: 1px solid #46443e;

          h2 {
            text-transform: capitalize;
            &:nth-child(2) {
              display: none;
            }
          }

          .message-btn {
            position: absolute;
            top: 11.5vmax;
            left: 68%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15vmax;
            width: 15vmax;
            border-radius: 50%;
            background-color: #233dd4;
            cursor: pointer;
          }
        }

        .btn-box {
          width: 100%;
          display: flex;
          height: fit-content;
          gap: 2.5vmax;

          .contact-btn {
            position: relative;
            height: 5vmax;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #46443e;
            border-radius: 5vmax;
            overflow: hidden;
            cursor: pointer;
          }
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vmax 4vmax;
        padding-bottom: 3vmax;

        .left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: inherit;
          width: fit-content;
          gap: 4vmax;

          .elem {
            height: fit-content;
            width: fit-content;

            h5 {
              color: #7c7c6f;
              margin-top: 1vmax;

              &:hover {
                color: #fffce1;
              }
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          height: inherit;
          width: fit-content;

          .elem {
            height: fit-content;
            width: fit-content;

            .social-box {
              height: fit-content;
              width: fit-content;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              gap: 4vmax;

              h5 {
                color: #7c7c6f;
                margin-top: 1vmax;
                cursor: pointer;

                &:hover {
                  color: #fffce1;
                }
              }
            }
          }
        }
      }
    }

    /* FIFTH RESPONSIVE SECTION CODE */

    @media (max-width: 30cm) {
      .sec5 {
        justify-content: flex-end;

        .top {
          gap: 8vmax;
          padding: 8vmax 3.5vmax;
          padding-bottom: 6vmax;

          .text-box {
            height: fit-content;
            padding-bottom: 7vmax;
            padding-right: 20vmax;
            border-bottom: 2px solid #46443e;

            h2 {
              &:nth-child(1) {
                display: none;
              }

              &:nth-child(2) {
                display: initial;
              }
            }

            .message-btn {
              top: 12.8vmax;
              left: 55%;
              height: 20vmax;
              width: 20vmax;
            }
          }

          .btn-box {
            flex-direction: column;
            gap: 4vmax;

            .contact-btn {
              height: 8vmax;
              width: 50%;
              border: 2px solid #46443e;
            }
          }
        }

        .bottom {
          position: static;
          flex-direction: column-reverse;
          align-items: flex-start;
          justify-content: center;
          gap: 3.5vmax;
          padding: 0 3.5vmax;
          padding-bottom: 3.5vmax;

          .left {
            width: 100%;
            border-top: 2px solid #46443e;
            padding-top: 3.5vmax;

            .elem {
              height: fit-content;

              h5 {
                margin-top: 1.5vmax;
              }
            }
          }

          .right {
            width: 100%;
            justify-content: flex-start;

            .elem {
              height: fit-content;

              .social-box {
                height: fit-content;

                h5 {
                  margin-top: 1.5vmax;
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 15cm) {
      .sec5 {
        .top {
          align-items: center;
          gap: 15vmax;
          padding: 3.5vmax 2.5vmax;

          .text-box {
            text-align: left;
            padding-bottom: 15vmax;
            padding-right: 0;

            .message-btn {
              top: 21vmax;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .btn-box {
            flex-direction: column;
            gap: 2.5vmax;

            .contact-btn {
              width: 100%;
            }
          }
        }

        .bottom {
          gap: 2.5vmax;
          padding: 0 2.5vmax;
          padding-bottom: 3vmax;

          .left {
            width: 100%;
            border-top: 2px solid #46443e;
            padding-top: 2.5vmax;

            .elem {
              height: fit-content;

              h5 {
                margin-top: 1.5vmax;
              }
            }
          }

          .right {
            width: 100%;
            justify-content: flex-start;

            .elem {
              height: fit-content;

              .social-box {
                height: fit-content;

                h5 {
                  margin-top: 1.5vmax;
                }
              }
            }
          }
        }
      }

      @media (max-width: 10cm) {
        .sec5 {
          .bottom {
            padding: 0 2.5vmax;
            padding-bottom: 2.5vmax;
          }
        }
      }
    }
  }
}
